.accessibility-animation {
    display: inline-block;
    
    .middle-letters, .end-letters, .alternate-middle-letters {
      display: inline-block;
      overflow: hidden;
      height: 1.5em;
    }
    
    .end-letters {
      color: #632C65;
    }
    
    .middle-letters, .alternate-middle-letters {
      color: #4B384C;
    }
    
    .middle-letters {
      animation: accessibility-middle-letters-animation 5s infinite;
      animation-delay: -3s;
      max-width: 0;
    }
    
    .alternate-middle-letters {
      animation: accessibility-alternate-middle-letters-animation 5s infinite;
      animation-delay: -3s;
      max-width: 0;
    }
  }
  
  @keyframes accessibility-middle-letters-animation {
    0% {
      max-width: 500px;
    }
    
    25% {
      max-width: 0;
    }
    
    75% {
      max-width: 0;
    }
    
    90% {
      max-width: 500px;
    }
    
    100% {
      max-width: 500px;
    }
  }
  
  @keyframes accessibility-alternate-middle-letters-animation {
    0% {
      max-width: 0;
    }
    
    25% {
      max-width: 0;
    }
    
    50% {
      max-width: 500px;
    }
    
    75% {
      max-width: 0;
    }
    
    100% {
      max-width: 0;
    }
  }
  
  .decor > div:nth-child(1) {
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  }
  .decor > div:nth-child(2) {
    background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
  }
  .decor > div:nth-child(3) {
    background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
  }
  .decor > div:nth-child(4) {
    background: linear-gradient(135deg, #c3cfe2 0%, #c3cfe2 100%);
  }
  